<div id="page" class="container-fluid page">
    <header id="header" class="tra-menu navbar-light white-scroll" >
        <div class="header-wrapper">
            <div class="wsmobileheader clearfix">
                <span class="smllogo"><a href="home"><img *ngIf="company.length > 0" src="{{ company[1].content }}" alt="habitro-logo" /></a></span>
                <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
            </div>

            <div class="wsmainfull menu clearfix">
                <div class="wsmainwp clearfix" style="text-align: center; display: contents;">
                    <div class="desktoplogo">
                        <a href="home" class="logo-black"><img *ngIf="company.length > 0" style="padding: 10px 0px;" src="{{ company[1].content }}" alt="habitro-logo" /></a>
                    </div>

                    <div class="desktoplogo">
                        <a href="home" class="logo-white"><img *ngIf="company.length > 0" src="{{ company[0].content }}" alt="habitro-logo" /></a>
                    </div>

                    <nav class="wsmenu clearfix">
                        <ul class="wsmenu-list nav-theme">
                            <li class="nl-simple" aria-haspopup="true"><a href="residential" class="h-link">Residential</a></li>
                            <li class="nl-simple" aria-haspopup="true"><a href="commercial" class="h-link">Commercial</a></li>
                            <li class="nl-simple" aria-haspopup="true"><a href="construction" class="h-link">Construction</a></li>
                            <li class="nl-simple" aria-haspopup="true"><a href="renovation" class="h-link">Renovation</a></li>
                            <li class="nl-simple" aria-haspopup="true"><a href="gallery-wall" class="h-link">Gallery Wall</a></li>
                            <li class="nl-simple" aria-haspopup="true"><a href="contact" class="h-link">Contact</a></li>
                            <li class="nl-simple" aria-haspopup="true">
                                <a *ngIf="company.length > 0" href="tel:{{ company[4].content }}" class="btn r-04 btn--theme hover--tra-white last-link"><i class="fa-solid fa-headset"></i>&nbsp;&nbsp;Talk to an Expert</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>
