<footer class="bg-very-light-gray pt-70px pb-10px">
    <div class="container">
        <div class="row overlap-section">
            <div class="col-12 text-center">
                <img class="rounded-circle" src="assets/images/round-logo.png" width="171px" />
            </div>
        </div>
        <div class="row justify-content-center mb-4">
            <div class="col-xl-12 col-lg-12 col-md-12 text-center">
                <h3 class="text-dark-gray fw-500 fs-40 m-40px">Find your perfect villa with Anugraha Homes.</h3>
                <h3 class="text-dark-gray fw-400 fs-30">Explore affordable 2BHK, 3BHK, 4BHK, and residential villas in
                    Poonamallee!</h3>
            </div>
        </div>
        <div
            class="row row-cols-3 row-cols-lg-5 row-cols-sm-3 align-items-center justify-content-center mb-5 md-mb-50px xs-mb-40px instagram-follow-api position-relative">
            <div class="absolute-middle-center z-index-1 w-auto">
                <a href="tell:+919445532961" target="_blank"
                    class="btn btn-large btn-switch-text btn-white btn-rounded left-icon btn-c instagram-button">
                    <span>
                        <span><i class="fa-solid fa-phone text-base-color"></i></span>
                        <span class="btn-double-text" data-text="+91 94455 32961">+91 94455 32961</span>
                    </span>
                </a>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-3 col-sm-6 text-center text-sm-start last-paragraph-no-margin fs-15 order-3 order-md-1">
                <p>&COPY; Copyright 2024 <a href="home" target="_blank"
                        class="text-decoration-line-bottom text-dark-gray fw-500">Anugraha Homes</a></p>
            </div>
            <div class="col-xl-6 text-center lg-mt-10px sm-mt-0 sm-mb-10px order-1 order-xl-2 order-md-3">
                <ul class="footer-navbar fs-17 fw-600">
                    <li class="nav-item active"><a href="home" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="about" class="nav-link">About us</a>
                    </li>
                    <li class="nav-item"><a href="ongoing-project" class="nav-link">Ongoing Project</a></li>
                    <li class="nav-item"><a href="reason-to-buy" class="nav-link">Reasons to buy?</a>
                    </li>
                    <li class="nav-item"><a href="floorplan" class="nav-link">Gallery Wall</a></li>
                </ul>
            </div>
            <div
                class="col-xl-3 col-sm-6 position-relative text-center text-sm-end elements-social social-text-style-01 order-2 order-xl-3 xs-mb-10px">
                <ul class="fs-16 dark fw-600">
                    <li><a class="facebook" href="https://www.facebook.com/profile.php?id=61561881479270"
                            target="_blank"><img src="assets/images/icons/facebook.png" /></a> </li>
                    <li><a class="instagram" href="https://www.instagram.com/anugraha_homes_24/" target="_blank"><img
                                src="assets/images/icons/instagram.png" /></a></li>
                    <li><a class="youtube" href="https://www.youtube.com/@anugrahahomes" target="_blank"><img
                                src="assets/images/icons/youtube.png" /></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<a class="blantershow-chat" href="https://wa.link/ooc52c" target="_blank"><img src="assets/images/icons/whatsapp.png" style="width: 32px; margin-right: 10px;"/> Chat with Us</a>