<app-breadcum [pageTitle]="pageTitle"></app-breadcum>
<section class="position-relative pt-70px pb-70px">
    <div class="container position-relative">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-6">
                <img src="assets/images/why/1.png" class="w-100" alt="">
            </div>
            <div class="col-lg-6 col-md-6 sm-pt-20px"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h2 class="fw-700 alt-font text-dark-gray ls-minus-1px mb-50px sm-mb-30px">
                    <span class="text-highlight ps-20px pe-20px pt-10px pb-10px" style="background-image: url(assets/images/bg-image.png); width: 100%;">Location</span>
                </h2>
                <div class="row row-cols-1"
                    data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 800, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <ul class="list-style-04 ms-20px fs-22">
                        <li>CMDA approved gated plot community project situated at Poonamallee spanning 6.5 acres with
                            300+
                            villas/plots.</li>
                        <li>Premium land in a prime location overlooking the Chennai outer ring road with essentials and
                            transit connectivity available in close proximity.</li>
                        <li>Located adjacent to ORR-Poonamallee Junction.</li>
                        <li>Situated in a safe and secure neighborhood.</li>
                        <li>Close to upcoming metro station at Poonamallee.</li>
                        <li>Public transport access nearby (Nazarathpet bus stop is 3 mins away).</li>
                        <li>Educational institutions such as Alpha College of Engineering, Panimalar Engineering
                            College,
                            and Saveetha Dental College are nearby.</li>
                        <li>Close to hospitals such as Apollo Speciality Hospitals, Be Well Hospital, ACS Hospital,
                            Saveetha
                            Hospital, and Aravind Eye Hospital.</li>
                        <li>Entertainment avenues are in close proximity.</li>
                        <li>Proposed IT park just 4 kms away.</li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="position-relative pt-70px pb-70px bg-gradient-very-light-gray">
    <div class="container position-relative">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-6"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h2 class="fw-700 alt-font text-dark-gray ls-minus-1px mb-50px sm-mb-30px">
                    <span class="text-highlight ps-20px pe-20px pt-10px pb-10px" style="background-image: url(assets/images/bg-image.png); width: 100%;">Pricing</span>
                </h2>
                <div class="row row-cols-1"
                    data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 800, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <ul class="list-style-04 ms-20px fs-22">
                        <li>Affordable and this location being the upcoming residential area is easily accessible from
                            the city.</li>
                        <li>The only right priced CMDA approved plot community at Poonamallee, strategically placed
                            adjacent to ORR-Poonamallee junction.</li>
                        <li>Unapproved plots are sold at that price whereas Anugraha Aashirwad and Anugraha Vruksha is a
                            CMDA approved plot.</li>
                        <li>Situated in a posh neighborhood for a very reasonable price.</li>
                        <li>People opting for apartments have to settle for 65% carpet area and 30% UDS, whereas, with
                            Anugraha, you can now completely own your own villa and the land at a more reasonable price.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <img src="assets/images/why/2.png" class="w-100" alt="">
            </div>

        </div>
    </div>
</section>
<section class="position-relative pt-70px pb-70px">
    <div class="container position-relative">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-6">
                <img src="assets/images/why/3.png" class="w-100" alt="">
            </div>
            <div class="col-lg-6 col-md-6 sm-pt-20px"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h2 class="fw-700 alt-font text-dark-gray ls-minus-1px mb-50px sm-mb-30px">
                    <span class="text-highlight ps-20px pe-20px pt-10px pb-10px" style="background-image: url(assets/images/bg-image.png); width: 100%;">Features</span>
                </h2>
                <div class="row row-cols-1"
                    data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 800, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <ul class="list-style-04 ms-20px fs-22">
                        <li>24x7 CCTV security</li>
                        <li>State-of-the-art amenities like concrete paver roads and LED street lights, rainwater
                            harvesting, and storm water drains</li>
                        <li>Grand entrance arch with security room and compound wall around the periphery of the
                            property</li>
                        <li>Extensive landscape</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="position-relative pt-70px pb-70px bg-gradient-very-light-gray">
    <div class="container position-relative">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-6"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h2 class="fw-700 alt-font text-dark-gray ls-minus-1px mb-50px sm-mb-30px">
                    <span class="text-highlight ps-20px pe-20px pt-10px pb-10px" style="background-image: url(assets/images/bg-image.png); width: 100%;">Legalities</span>
                </h2>
                <div class="row row-cols-1"
                    data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 800, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <ul class="list-style-04 ms-20px fs-22">
                        <li>CMDA approved</li>
                        <li>Clear parent documents and titles</li>
                        <li>Leading banks have approved the property</li>
                        <li>Road gift deed is available</li>
                        <li>Free from mortgages</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <img src="assets/images/why/4.png" class="w-100" alt="">
            </div>

        </div>
    </div>
</section>

<section class="bg-gradient-very-light-gray position-relative pt-70px pb-70px" style="background-color: #3c2c06a6;
background-image: url(https://ik.imagekit.io/habitro/bg/testimonials-bg.png?updatedAt=1707132693702);
background-position: bottom right;
background-repeat: no-repeat;">
    <div class="background-position-center-top position-absolute top-0 left-0px w-100 h-100"></div>
    <div class="container position-relative">
        <div class="row justify-content-center mb-2">
            <div class="col-auto col-xxl-10 col-lg-10 col-sm-9 d-flex align-items-center justify-content-center">
                <h2 class="text-dark-gray fw-700 ls-minus-2px m-0 text-center">Post Purchase Guidance</h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-sm-2 justify-content-center"
            data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">

            <div class="col icon-with-text-style-03" *ngFor="let item of post">
                <div class="feature-box p-8">
                    <div class="feature-box-icon mb-20px">
                        <img src="assets/images/post/{{item.icons}}" width="60px" />
                    </div>
                    <div class="feature-box-content last-paragraph-no-margin">
                        <span class="d-inline-block fw-700 text-black mb-5px fs-19">{{item.title}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


