/* CSS Media Query for Mobile Devices */
@media screen and (max-width: 490px) {
    /* Adjust the animation or element properties for mobile screens */
    [data-aos="fade-right"] {
      /* For example, you might change the animation to fade in without the right movement */
      opacity: 1; /* Ensure the element is visible */
      transform: none; /* Remove any transformation */
    }
    [data-aos="fade-left"] {
      /* For example, you might change the animation to fade in without the right movement */
      opacity: 1; /* Ensure the element is visible */
      transform: none; /* Remove any transformation */
    }
    [data-aos="zoom-in"] {
      /* For example, you might change the animation to fade in without the right movement */
      opacity: 1; /* Ensure the element is visible */
      transform: none; /* Remove any transformation */
    }
    .section-title h2{
        font-size: 28px !important;
        text-align: left;
    }
    .section-title p{
        text-align: left;
        padding: 0px !important;
    }
    .bottom-line{
        margin: 2px !important; width: 100px;
    }
    .owncontact{
      padding: 30px !important;
    }
    .form-holder{
      padding: 30px !important;
    }
    .contact-form{
      padding: 20px 0px !important;
    }
  
  }
    
  .owncontact{
    padding: 100px;background-color: rgb(249, 246, 246);
  }
  .form-holder{
    padding: 100px 50px 50px;
  }
  .bottom-line{
    margin: 2px !important; width: 100px;
  }
  .pt-10{
    padding-top: 10px;
  }
  .error-message {
    color: red;
    font-size: small;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  .contact-form .form-control, .contact-form .form-select{
    margin-bottom: 10px;
  }
  #contacts-1 .contact-form p{
    font-size: 1rem !important;
  }