<app-breadcum [pageTitle]="pageTitle"></app-breadcum>
<section class="background-position-center background-repeat"
    style="background-image: url('assets/images/bg/vertical-center.png')">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3"
            data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateX&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
            <div class="col last-paragraph-no-margin sm-mb-30px">
                <span
                    class="d-block text-dark-gray fs-19 fw-600 border-bottom border-2 border-color-dark-gray pb-10px mb-15px w-80 sm-w-100">Corporate office</span>
                <p class="w-100">57, Madha Nagar Main Road,<br>Mugalivakkam, Chennai, Tamil Nadu 600125</p>
            </div>
            <div class="col sm-mb-30px">
                <span
                    class="d-block text-dark-gray fs-19 fw-600 border-bottom border-2 border-color-dark-gray pb-10px mb-15px w-80 sm-w-100">Send
                    a message</span>
                <div><a href="mailto:aashirwadh@anugrahahomes.co.in">aashirwadh@anugrahahomes.co.in</a>
                </div>
                <div><a href="mailto:vruksha@anugrahahomes.co.in">vruksha@anugrahahomes.co.in</a></div>
            </div>
            <div class="col">
                <span
                    class="d-block text-dark-gray fs-19 fw-600 border-bottom border-2 border-color-dark-gray pb-10px mb-15px w-80 sm-w-100">Booking
                    on call</span>
                <span class="d-block">Phone: <a href="tel:+91 94455 32961">+91 94455 32961</a></span>
                <span class="d-block">Phone: <a href="tel:+(832) 477-4312">+1 (832) 477-4312</a></span>
            </div>
        </div>
    </div>
</section>


<section class="background-position-center background-repeat position-relative p-0"
    style="background-image: url('images/vertical-center-line-bg.svg')">
    <div class="position-absolute top-0px right-0px w-50 h-100 d-none d-lg-inline-block"></div>
    <div class="container position-relative">
        <div class="row g-0">
            <div class="col-lg-6 col-md-6 md-mb-50px pe-30px"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <span class="d-block text-base-color fw-500 mb-5px">Reach Out to Us Today</span>
                <h4 class="alt-font text-dark-gray ls-minus-2px mb-25px">Have an inquiry or some feedback for us?</h4>
                <form action="email-templates/contact-form.php" method="post" class="contact-form-style-03">
                    <label for="exampleInputEmail1"
                        class="form-label fs-14 text-uppercase text-dark-gray fw-600 mb-0">Enter your name*</label>
                    <div class="position-relative form-group mb-20px">
                        <span class="form-icon"><i class="bi bi-emoji-smile"></i></span>
                        <input
                            class="ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control required"
                            id="exampleInputEmail1" type="text" name="name" placeholder="What's your good name" />
                    </div>
                    <label for="exampleInputEmail1"
                        class="form-label fs-14 text-uppercase text-dark-gray fw-600 mb-0">Email address*</label>
                    <div class="position-relative form-group mb-20px">
                        <span class="form-icon"><i class="bi bi-envelope"></i></span>
                        <input
                            class="ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control required"
                            id="exampleInputEmail2" type="email" name="email" placeholder="Enter your email address" />
                    </div>
                    <label for="exampleInputphone"
                        class="form-label fs-14 text-uppercase text-dark-gray fw-600 mb-0">Phone Number*</label>
                    <div class="position-relative form-group mb-20px">
                        <span class="form-icon"><i class="bi bi-phone   "></i></span>
                        <input
                            class="ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control required"
                            id="exampleInputnumber" type="text" name="number" placeholder="Enter your Phone Number" />
                    </div>
                    <label for="exampleInputEmail1"
                        class="form-label fs-14 text-uppercase text-dark-gray fw-600 mb-0">Your message</label>
                    <div class="position-relative form-group form-textarea mb-0">
                        <textarea class="ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control"
                            name="comment" placeholder="Describe about your booking" rows="3"></textarea>
                        <span class="form-icon"><i class="bi bi-chat-square-dots"></i></span>
                    </div>
                    <div class="row mt-25px align-items-center">
                        <div class="col-xl-7 col-lg-12 col-sm-7 lg-mb-30px md-mb-0">
                            <p class="mb-0 fs-14 lh-22 text-center text-sm-start">We will never collect information
                                about you without your explicit consent.</p>
                        </div>
                        <div
                            class="col-xl-5 col-lg-12 col-sm-5 text-center text-sm-end text-lg-start text-xl-end xs-mt-25px">
                            <input id="exampleInputEmail3" type="hidden" name="redirect" value>
                            <button
                                class="btn btn-dark-gray btn-small btn-round-edge btn-box-shadow text-uppercase submit"
                                type="submit">send message</button>
                        </div>
                        <div class="col-12 form-results d-none mt-20px mb-0"></div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-6 justify-content-center text-center d-flex flex-column">
                <img src="assets/images/location.jpg" />
            </div>
        </div>
    </div>
</section>


<section class="background-position-center background-repeat"
    style="background-image: url('images/vertical-center-line-bg.svg')">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-auto text-center text-md-end sm-mb-20px"
                data-anime="{ &quot;translateX&quot;: [-50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h5 class="alt-font text-dark-gray fw-500 mb-0">Connect with social media </h5>
            </div>
            <div class="col-2 d-none d-lg-inline-block"
                data-anime="{ &quot;translateX&quot;: [0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <span class="w-100 h-1px bg-dark-gray opacity-2 d-flex mx-auto"></span>
            </div>
            <div class="col-md-auto elements-social social-icon-style-04 text-center text-md-start ps-lg-0"
                data-anime="{ &quot;translateX&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <ul class="large-icon dark">
                    <li class="m-0"><a class="facebook" href="https://www.facebook.com/profile.php?id=61561881479270" target="_blank"><i
                                class="fa-brands fa-facebook-f"></i><span></span></a></li>
                    <li class="m-0"><a class="instagram" href="https://www.instagram.com/anugraha_homes_24/" target="_blank"><i
                                class="fa-brands fa-instagram"></i><span></span></a></li>
                    <li class="m-0"><a class="youtube" href="https://www.youtube.com/@anugrahahomes" target="_blank"><i
                                class="fa-brands fa-youtube"></i><span></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>