<app-breadcum [pageTitle]="pageTitle"></app-breadcum>
<!-- More About -->
<section class="pt-70px pb-70px">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col=mg-6 position-relative md-mb-14 sm-mb-17 xs-mb-20px">
                <div class="w-100 md-w-100 xs-w-1000" data-animation-delay="50" data-shadow-animation="true">
                    <img src="assets/images/about.png" alt class="border-radius-8px w-100">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col=mg-6 text-center text-lg-start">
                <p class="mb-40px fs-20 xs-mb-30px lg-w-100 w-100 md-w-100 text-dark-gray">Investing in Anugraha offers
                    unparalleled advantages, especially in the vibrant real estate landscape of Chennai. You can enjoy
                    affordable
                    property in Chennai city with clean legal documentation. Anugraha's ready-to-construct villa plots
                    in Chennai emphasise well-laid
                    internal roads with street lights, landscape, 24×7 CCTV surveillance, and legal documentation.
                    Anugraha's hassle-free building
                    assistance, provides customer with post-purchase guidance from building plan approval to completing
                    the construction, making Anugraha
                    a smart investment choice for villa construction.</p>

                <a href="contact" class="btn btn-large bg-gradient-flamingo-amethyst-green text-white">Let's
                    discuss<span class="bg-orient-blue text-white"><i
                            class="feather icon-feather-arrow-right icon-small"></i></span></a>
            </div>
        </div>
    </div>
</section>

<!-- 5 Reasons -->
<section class="big-section border-top border-color-extra-medium-gray pt-70px pb-70px bg-very-light-gray"
    style="background-color: #f5f5f5; background-image: url(https://ik.imagekit.io/habitro/bg/construction-bg.jpg?updatedAt=1707144478183); background-position: top center; background-repeat: no-repeat;">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-12 col-lg-8 text-center">
                <h2
                    class="ps-25px pe-25px pt-25px pb-25px mb-15px text-capitalize text-base-color fs-30 lh-40 fw-700 border-radius-100px bg-gradient-flamingo-amethyst-green w-100">
                    <img src="assets/images/icon-logo.png" width="40px" alt="" class="pe-10px pb-10px">5 Reasons To Book
                    Your Home With Anugraha
                </h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-5 row-cols-md-5 justify-content-center">

            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px" *ngFor="let item of why">
                <div
                    class="feature-box border-radius-10px p-15 lg-pt-15 lg-pb-15 lg-ps-10 lg-pe-10 last-paragraph-no-margin">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/{{item.icons}}" />
                    </div>
                    <div class="feature-box-content">
                        <span
                            class="mt-20px d-inline-block alt-font text-dark-gray fw-700 fs-19 mb-10px">{{item.why}}</span>
                    </div>
                    <div class="feature-box-overlay bg-solitude-blue border-radius-10px"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Counter Section -->
<section class="big-section border-top border-color-extra-medium-gray pt-70px pb-70px">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 justify-content-center g-0">

            <div class="col process-step-style-06 text-center last-paragraph-no-margin hover-box md-mb-50px">
                <h4 class="d-block text-dark-gray mb-0 fw-700 ls-minus-2px"> 12 YEARS OF</h4>
                <div class="process-step-icon-box position-relative mt-25px mb-25px">
                    <span class="progress-step-separator bg-dark-gray w-100 separator-line-1px opacity-1"></span>
                    <div
                        class="step-box d-flex align-items-center justify-content-center bg-white box-shadow-medium-bottom border-radius-100 mx-auto w-30px h-30px">
                        <span class="w-8px h-8px bg-base-color border-radius-100"></span>
                    </div>
                </div>
                <span class="d-inline-block fw-600 text-dark-gray fs-18 mb-5px">BUILDING QUALITY HOMES</span>
            </div>

            <div class="col process-step-style-06 text-center last-paragraph-no-margin hover-box md-mb-50px">
                <h4 class="d-block text-dark-gray mb-0 fw-700 ls-minus-2px">1 MILLION +</h4>
                <div class="process-step-icon-box position-relative mt-25px mb-25px">
                    <span class="progress-step-separator bg-dark-gray w-100 separator-line-1px opacity-1"></span>
                    <div
                        class="step-box d-flex align-items-center justify-content-center bg-white box-shadow-medium-bottom border-radius-100 mx-auto w-30px h-30px">
                        <span class="w-8px h-8px bg-base-color border-radius-100"></span>
                    </div>
                </div>
                <span class="d-inline-block fw-600 text-dark-gray fs-18 mb-5px">SQ.FT DEVELOPED</span>
            </div>

            <div class="col process-step-style-06 text-center last-paragraph-no-margin hover-box xs-mb-50px">
                <h4 class="d-block text-dark-gray mb-0 fw-700 ls-minus-2px"> 30 +</h4>
                <div class="process-step-icon-box position-relative mt-25px mb-25px">
                    <span class="progress-step-separator bg-dark-gray w-100 separator-line-1px opacity-1"></span>
                    <div
                        class="step-box d-flex align-items-center justify-content-center bg-white box-shadow-medium-bottom border-radius-100 mx-auto w-30px h-30px">
                        <span class="w-8px h-8px bg-base-color border-radius-100"></span>
                    </div>
                </div>
                <span class="d-inline-block fw-600 text-dark-gray fs-18 mb-5px">SUCCESSFULLY DELIVERED PROJECTS</span>
            </div>

            <div class="col process-step-style-06 text-center last-paragraph-no-margin hover-box">
                <h4 class="d-block text-dark-gray mb-0 fw-700 ls-minus-2px">500+</h4>
                <div class="process-step-icon-box position-relative mt-25px mb-25px">
                    <span class="progress-step-separator bg-dark-gray w-100 separator-line-1px opacity-1"></span>
                    <div
                        class="step-box d-flex align-items-center justify-content-center bg-white box-shadow-medium-bottom border-radius-100 mx-auto w-30px h-30px">
                        <span class="w-8px h-8px bg-base-color border-radius-100"></span>
                    </div>
                </div>
                <span class="d-inline-block fw-600 text-dark-gray fs-18 mb-5px">HAPPY FAMILIES</span>
            </div>

        </div>
    </div>
</section>


<!-- Exclusive Amenities -->
<!-- <section class="bg-gradient-very-light-gray position-relative pt-70px pb-70px" style="background-image: url(assets/images/bg/bg.png); background-position: center center;background-repeat: no-repeat;
background-size: cover;">
    <div class="background-position-center-top position-absolute top-0 left-0px w-100 h-100"
        style="background-image: url('images/vertical-line-bg-medium-gray.svg')"></div>
    <div class="container position-relative">
        <div class="row justify-content-center mb-2">
            <div class="col-auto col-xxl-5 col-lg-7 col-sm-9 d-flex align-items-center justify-content-center">
                <h2 class="text-white fw-700 ls-minus-2px m-0 mb-20px">Exclusive Amenities.</h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-md-4 row-cols-sm-2 justify-content-center"
            data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
            <div class="col icon-with-text-style-03">
                <div class="feature-box p-8">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/1.png" />
                    </div>
                    <div class="feature-box-content mt-20px">
                        <span class="d-inline-block fw-700 text-white mb-5px fs-19">Outdoor basketball Court</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-03">
                <div class="feature-box p-8">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/2.png" />
                    </div>
                    <div class="feature-box-content mt-20px">
                        <span class="d-inline-block fw-700 text-white mb-5px fs-19">Outdoor badminton court</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-03">
                <div class="feature-box p-8">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/3.png" />
                    </div>
                    <div class="feature-box-content mt-20px">
                        <span class="d-inline-block fw-700 text-white mb-5px fs-19">Seating area</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-03">
                <div class="feature-box p-8">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/4.png" />
                    </div>
                    <div class="feature-box-content mt-20px">
                        <span class="d-inline-block fw-700 text-white mb-5px fs-19">Pergola with seating</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-03">
                <div class="feature-box p-8">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/5.png" />
                    </div>
                    <div class="feature-box-content mt-20px">
                        <span class="d-inline-block fw-700 text-white mb-5px fs-19">Aroma garden</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-03">
                <div class="feature-box p-8">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/6.png" />
                    </div>
                    <div class="feature-box-content mt-20px">
                        <span class="d-inline-block fw-700 text-white mb-5px fs-19">Palm promenade</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-03">
                <div class="feature-box p-8">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/7.png" />
                    </div>
                    <div class="feature-box-content mt-20px">
                        <span class="d-inline-block fw-700 text-white mb-5px fs-19">Family lawn</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-03">
                <div class="feature-box p-8">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/8.png" />
                    </div>
                    <div class="feature-box-content mt-20px">
                        <span class="d-inline-block fw-700 text-white mb-5px fs-19">Senior citizen park</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-03">
                <div class="feature-box p-8">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/9.png" />
                    </div>
                    <div class="feature-box-content mt-20px">
                        <span class="d-inline-block fw-700 text-white mb-5px fs-19">Acupuncture pathway</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-03">
                <div class="feature-box p-8">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/10.png" />
                    </div>
                    <div class="feature-box-content mt-20px">
                        <span class="d-inline-block fw-700 text-white mb-5px fs-19">Jogging track</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-03">
                <div class="feature-box p-8">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/11.png" />
                    </div>
                    <div class="feature-box-content mt-20px">
                        <span class="d-inline-block fw-700 text-white mb-5px fs-19">Yoga pavilion</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-03">
                <div class="feature-box p-8">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/12.png" />
                    </div>
                    <div class="feature-box-content mt-20px">
                        <span class="d-inline-block fw-700 text-white mb-5px fs-19">Meditation deck</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-03">
                <div class="feature-box p-8">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/13.png" />
                    </div>
                    <div class="feature-box-content mt-20px">
                        <span class="d-inline-block fw-700 text-white mb-5px fs-19">Hopscotch games</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-03">
                <div class="feature-box p-8">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/14.png" />
                    </div>
                    <div class="feature-box-content mt-20px">
                        <span class="d-inline-block fw-700 text-white mb-5px fs-19">Outdoor games</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-03">
                <div class="feature-box p-8">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/15.png" />
                    </div>
                    <div class="feature-box-content mt-20px">
                        <span class="d-inline-block fw-700 text-white mb-5px fs-19">Children's play area</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-03">
                <div class="feature-box p-8">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/16.png" />
                    </div>
                    <div class="feature-box-content mt-20px">
                        <span class="d-inline-block fw-700 text-white mb-5px fs-19">Amphitheatre</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<!-- Testimonials -->
<section class="background-position-center-top" style="background-color: #3c2c06a6;
background-image: url(https://ik.imagekit.io/habitro/bg/testimonials-bg.png?updatedAt=1707132693702);
background-position: bottom right;
background-repeat: no-repeat;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <span class="text-white text-uppercase fw-500 d-inline-block ls-1px fs-15">What clients say</span>
                <h3 class="text-white fw-500 ls-minus-1px">Clients testimonial</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            
            <owl-carousel-o [options]="owltestiOptions">
                <ng-container *ngFor="let item of testimonials">
                    <ng-template carouselSlide>
                        <div
                            class="text-center col-xl-12 col-lg-12 testimonials-style-10 position-relative ps-4 pe-4">
                            <div class="magic-cursor sm-pt-3 pb-6">
                                <div class="">
                                    <div class="">
                                        <div class="d-flex flex-column">
                                            <div class="align-self-center text-center w-90 last-paragraph-no-margin">
                                                <h6 class="fw-500 lh-42 mb-0 text-black">{{item.testimonial}} <span
                                                        class="text-base-color fw-700 text-black">@ {{item.name}}</span>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>