<section id="hero-1" class="bg--scroll hero-section"
  style="background: linear-gradient(0deg, #f7478024, rgb(0 0 0 / 60%)), url({{bannerimage}});">
  <div class="container-fluid" style="padding: 30px 55px;">
    <div class="row d-flex align-items-center">
      <div class="col-md-8 wow fade-left wow fadeInRight">
        <div class="hero-1-txt color--white">
          <h2 class="s-48 w-700">{{ bannerheading }}</h2>
          <p>{{ bannerpara }}</p>
        </div>
      </div>
      <div class="col-md-4 wow fadeInLeft" *ngIf="displayForm">
        <form class="row sign-in-form" style="padding: 10px;" method="post"
          [formGroup]="leadForm" (ngSubmit)="onSubmit()">
          <div class="col-md-12 text-center">
            <div class="separator-line">
              <p class="s-24 color--black" style="margin-bottom: 6px;">Meet a
                designer</p>
            </div>
          </div>
          <div class="col-md-12" style="margin-bottom: 10px;">
            <p class="p-sm input-header" style="margin-bottom: 5px;">Name</p>
            <input class="form-control email" id="name" type="text"
              formControlName="name" placeholder="Praveen Kumar" required />
            <div class="error-message"
              *ngIf="leadForm?.get('name')?.hasError('required') && leadForm?.get('name')?.touched">
              Name is required.
            </div>
          </div>
          <div class="col-md-12" style="margin-bottom: 10px;">
            <p class="p-sm input-header" style="margin-bottom: 5px;">Phone
              No</p>
            <input class="form-control email" id="phone" type="text"
              formControlName="phone" placeholder="+91 89898 98990" required />
            <div class="error-message"
              *ngIf="leadForm?.get('phone')?.hasError('required') && leadForm?.get('phone')?.touched">
              Phone No is required.
            </div>
            <div class="error-message"
              *ngIf="leadForm?.get('phone')?.hasError('pattern')">
              Invalid phone number. Please enter a 10-digit number with the
              country code +91.
            </div>
          </div>
          <div class="col-md-12" style="margin-bottom: 10px;">
            <p class="p-sm input-header" style="margin-bottom: 5px;">Email
              address</p>
            <input class="form-control email" id="email" type="email"
              formControlName="email" placeholder="example@example.com"
              required />
            <div class="error-message"
              *ngIf="leadForm?.get('email')?.hasError('required') && leadForm?.get('email')?.touched">
              Email address is required.
            </div>
            <div
              *ngIf="leadForm?.get('email')?.hasError('email') && leadForm?.get('email')?.touched">
              Invalid email format.
            </div>
          </div>
          <div class="col-md-12" style="display: none;">
            <p class="p-lg">Explain your question in details:</p>
            <textarea formControlName="message" class="form-control message"
              name="message" rows="4"
              placeholder="Explain in details..."></textarea>
            <div class="error-message"
              *ngIf="leadForm?.get('message')?.hasError('required') && leadForm?.get('message')?.touched">
              Message is required.
            </div>
          </div>
          <!-- Form Submit Button -->
          <div class="col-md-12 form-btn" style="margin-bottom: 10px;">
            <button type="submit" name="submit"
              class="btn r-04 btn--theme submit" [disabled]="leadForm.invalid">
              Get Free Estimate
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
