.faqs-section .tabs-1 li p{
    margin-top: 0px;
    color: #000;
  }
  .in_tool_logo{
    margin: 0px;
    padding: 20px;
  }
  
  @media only screen and (max-width: 490px) {
    #hero-1 {
      padding-top: 20px !important;
      background-repeat: no-repeat !important;
      padding-bottom: 0px !important;
    }
    .signinform{
      padding: 100px !important;
    }
    .ico-80 img {
      width: 40px !important;
      height: 40px !important;
    }
    .tab-content p{
      padding: 20px 0px;
      font-size: 12px;
      line-height: 15px;
      font-weight: 500;
      color: #343a40;
    }
    .container-fluid{
      padding: 30px 10px !important;
    }
  }
  
  /* form */
  
  .input-group{
    margin: 10px;
  }
  
  .form-control::placeholder {
    color: rgb(204, 201, 201);
    opacity: 5;
  }
  .hero-section p.p-sm{
    margin: 4px 0px;
  }
  .btn--theme {
    color: #fff!important;
    width: 100%;
    margin: 20px 0px;
  }
  .faqs-section .tabs-1 li p{
  margin-top: 0px;
  color: #000;
  }
  .in_tool_logo{
  margin: 0px;
  padding: 20px;
  }
  .sign-in-form{
  background-color: white; margin: 10px;
  box-shadow: -1.21px 6.894px 15px 0px rgba(0, 0, 0, 0.07);
  }
  .sign-in-form{
  margin: 0px !important;
  }
  .hero-section p.s-24 {
  margin-bottom: 6px !important;
  }
  .form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: purple;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(120, 81, 169,0.5);
  }
  .error-message {
    color: red;
    font-size: small;
  }
  .toast-success {
    font-size: 14px;  
    background-color: blue; 
  }
  
  @media only screen and (max-width: 900px) {
  .hero-section p{
    font-size: 14px !important;
    }
  }