<app-banner [bannerheading]="bannerheading" [bannerpara]="bannerpara" [bannerimage]="bannerimage" [displayForm]="displayForm"></app-banner>
<section id="terms-page" class="gr--whitesmoke">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <!-- TEXT BLOCK -->
                <div class="txt-block legal-info">
                    <!-- Title -->
                    <h4 class="s-30 w-700">General Principles</h4>
                    <p>
                        We are committed to protecting and respecting your privacy. We collect your personal information and process your personal data in accordance to the law which regulates the processing of personal data. Please read
                        the following carefully to understand our views and practices regarding your personal data.
                    </p>
                    <p>
                        This online privacy statement describes Habitro current online practices in respect of personal information collected through this website. If you do not agree with these terms, please do not disclose any personal
                        information to us.
                    </p>
                    <p>
                        We collect your personal information in order to provide and continually improve our quality, approach, process and services that help you interact with the peanut community and us in a better way.
                    </p>
                    <p>
                        All our subsidiaries, associate companies, partner firms and any third party working with or for us, and who have access to personal information, will be expected to read and comply with this policy. No third party
                        may access or process sensitive personal information held by us without having first entered into a confidentiality agreement.
                    </p>
                    <p>
                        Habitro privacy policy is subject to change for improvement at any time without any notification. To make sure you are aware of any changes to the policy, you may review the policy periodically.
                    </p>
                    <p>This privacy policy was last amended on 18th of September 2020.</p>
                    <h4 class="s-30 w-700">Personal Data that We Collect</h4>
                    <p>We collect personal data that is relevant to our business and/or employment relationship with you.</p>
                    <p>If you are a shareholder, director, corporate officer, manager, employee or appointed contractor of any business entity or individual, we may collect your personal data if it is relevant to our business relationship with you or in that entity.</p>
                    <h4 class="s-30 w-700">The personal data we collect includes:</h4>
                    <ul>
                        <li>Personal particulars (e.g., name, contact details, date of birth, identity card/passport details)</li>
                        <li>Contact information (e.g., address, telephone numbers, email address, fax numbers)</li>
                        <li>Education details (e.g., names of schools and institutions, types of qualification)</li>
                        <li>Medical details (e.g., prior medical history)</li>
                        <li>Financial details (e.g., income, expenses, banking)</li>
                        <li>Employment details (e.g., employment history, salary, benefits, title, tenure)</li>
                        <li>Marital status and spousal information</li>
                    </ul>
                    <h4 class="s-30 w-700">How We Collect Information</h4>
                    <p>We may collect personal data directly from you. We may sometimes collect information about you through third party when they are duly authorized by you to provide personal data from you. This may be done in person when you meet our staff or representatives, or over the phone, by email or through websites.</p>
                    <p>We may also collect your personal data about you from third party sources without directly involving you. For example, we may obtain your personal data from your family members or a government agency. We may also obtain your personal data from market research organizations or publicly available resources such as telephone directories or business directories.</p>
                    <h4 class="s-30 w-700">We are likely to collect personal data in the following situations:</h4>
                    <ul>
                        <li>When you apply for a job with us</li>
                        <li>When you enter a business relationship with us</li>
                        <li>When you provide any services to us</li>
                        <li>When you perform any duties in the course of employment with us</li>
                        <li>When you visit our web sites</li>
                        <li>When you contact us with feedback, queries or complaints</li>
                        <li>When you request us to send you information or notify you of developments in the company via post, emails or telephone calls.</li>
                    </ul>
                    <h4 class="s-30 w-700">Cookies</h4>
                    <p>A cookie is a text-only string of information that is transferred to the cookie file of the browser on your computer's hard disk so that we can recognize you as a repeat visitor.</p>
                    <p>A cookie will typically contain the name of the domain from which the cookie has come, the "lifetime" of the cookie, and a value, usually a randomly generated, unique number. Cookies are commonly used by most major websites to arrange their content to match your preferred interests.</p>
                    <p>This website will automatically gather personal information, such as your first name and email address, through the use of cookies when accessing enhanced and premium areas of the website.</p>
                    <p>Two types of cookies are used on this website:</p>
                </div>
            </div>
        </div>
    </div>
</section>
