<section
    class="page-title-separate-breadcrumbs h-300px cover-background border-top border-4 border-color-base-color top-space-margin magic-cursor round-cursor"
    style="background-image: url(assets/images/bg/bg.png)">
    <div class="opacity-full-dark bg-gradient-dark-transparent"></div>
    <div class="container position-relative">
        <div
            class="row align-items-start align-items-lg-start justify-content-start flex-column flex-lg-row extra-small-screen">
            <div class="col-xxl-12 col-lg-12 col-md-12 position-relative page-title-large md-mb-15px xs-mb-5px">
                <h1 class="text-white text-center alt-font fw-600 ls-minus-2px mb-0">{{ pageTitle }}</h1>
            </div>
        </div>
    </div>
</section>