<section id="banner-3" class="banner-section pt-50 pb-50" style="background-image: url(https://ik.imagekit.io/habitro/bg/call-out-bg.png?updatedAt=1707132773623);background-size: cover; width: 100%; background-repeat: no-repeat;background-position-y: -70px;">
    <div class="container">
        <div class="banner-3-wrapper bg--03 bg--scroll r-16">
            <div class="banner-overlay">
                <div class="row">
                    <div class="col">
                        <div class="banner-3-txt">
                            <h2 class="s-38 w-600"  data-aos="zoom-in" data-aos-easing="linear"
                            data-aos-duration="1500">{{ copyhead }}</h2>
                            <a href="contact"  data-aos="zoom-in" data-aos-easing="linear"
                            data-aos-duration="1500" class="mt-30 btn r-04 btn--theme hover--tra-white last-link"><i class="fa-solid fa-file-invoice"></i>&nbsp;&nbsp;Get Free Estimate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>