<app-breadcum [pageTitle]="pageTitle"></app-breadcum>
<!-- <section class="pt-70px">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-6 position-relative page-title-extra-small md-mb-30px md-mt-auto"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h3 class="alt-font fw-600 text-dark-gray mb-15px ls-minus-1px">Anugraha Aashirwad</h3>
                <h1 class="mb-0 d-flex"><i
                        class="feather icon-feather-map-pin icon-extra-medium text-base-color me-5px"></i>Poonamalle,
                    Chennai</h1>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 position-relative page-title-extra-small md-mb-30px md-mt-auto"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h3 class="alt-font fw-600 text-dark-gray mb-15px ls-minus-1px">Anugraha Vruksha</h3>
                <h1 class="mb-0 d-flex"><i
                        class="feather icon-feather-map-pin icon-extra-medium text-base-color me-5px"></i>Poonamalle,
                    Chennai</h1>
            </div>
            <div
                class="col-xl-6 col-lg-6 col-md-6 border-start border-2 border-color-base-color ps-40px sm-ps-25px md-mb-auto">
                <h4 class="text-dark-gray fw-700 alt-font mb-5px">₹ 90 lakhs </h4>
                <span class="fw-500 fs-18">Onwards*</span> <br>
                <a href="tel:+91 94455 32961" class="btn btn-medium left-icon btn-switch-text text-base-color">
                    <span>
                        <span><i class="fa-solid fa-phone-volume text-base-color"></i></span>
                        <span class="btn-double-text fs-18" data-text="+91 94455 32961">+91 94455 32961</span>
                    </span>
                </a>
            </div>
            <div
                class="col-xl-6 col-lg-6 col-md-6 border-start border-2 border-color-base-color ps-40px sm-ps-25px md-mb-auto">
                <h4 class="text-dark-gray fw-700 alt-font mb-5px">₹ 45 lakhs </h4>
                <span class="fw-500 fs-18">Onwards*</span><br>
                <a href="tel:+91 94455 32961" class="btn btn-medium left-icon btn-switch-text text-base-color">
                    <span>
                        <span><i class="fa-solid fa-phone-volume text-base-color"></i></span>
                        <span class="btn-double-text fs-18" data-text="+91 94455 32961">+91 94455 32961</span>
                    </span>
                </a>

            </div>
        </div>
    </div>
</section> -->


<section class="pt-70px" style="padding-bottom: 0px;">
    <div class="container-fluid p-0">
        <div class="row row-cols-1 justify-content-center">
            <div class="col">
                <div class="swiper slider-four-slide swiper-dark-pagination swiper-pagination-style-3"
                    data-slider-options="{ &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 20, &quot;loop&quot;: true, &quot;pagination&quot;: { &quot;el&quot;: &quot;.slider-four-slide-pagination&quot;, &quot;clickable&quot;: true }, &quot;autoplay&quot;: { &quot;delay&quot;: 3000, &quot;disableOnInteraction&quot;: false }, &quot;navigation&quot;: { &quot;nextEl&quot;: &quot;.slider-one-slide-next-1&quot;, &quot;prevEl&quot;: &quot;.slider-one-slide-prev-1&quot; }, &quot;keyboard&quot;: { &quot;enabled&quot;: true, &quot;onlyInViewport&quot;: true }, &quot;breakpoints&quot;: { &quot;1200&quot;: { &quot;slidesPerView&quot;: 3 }, &quot;992&quot;: { &quot;slidesPerView&quot;: 3 }, &quot;768&quot;: { &quot;slidesPerView&quot;: 2 } }, &quot;effect&quot;: &quot;slide&quot; }">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <img src="assets/images/gallery/9.jpg" alt class="w-500px h-500px" />
                        </div>


                        <div class="swiper-slide">
                            <img src="assets/images/gallery/5.jpg" alt class="w-100 h-500px" />
                        </div>


                        <div class="swiper-slide">
                            <img src="assets/images/gallery/6.jpg" alt class="w-100 h-500px" />
                        </div>


                        <div class="swiper-slide">
                            <img src="assets/images/gallery/7.jpg" alt class="w-100 h-500px" />
                        </div>


                        <div class="swiper-slide">
                            <img src="assets/images/gallery/8.jpg" alt class="w-100 h-500px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pt-30px pb-30px border-bottom border-color-extra-medium-gray">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3 row-cols-sm-2">
            <div class="col text-center border-end xs-border-end-0 border-color-extra-medium-gray alt-font md-mb-15px">
                <span class="fs-19 text-dark-gray fw-600">Property size:</span> 656 sq ft. to 2400 sq ft
            </div>
            <div class="col text-center border-end md-border-end-0 border-color-extra-medium-gray alt-font md-mb-15px">
                <span class="fs-19 text-dark-gray fw-600">Spread across 6.5 acres.</span>
            </div>
            <div class="col text-center border-end xs-border-end-0 border-color-extra-medium-gray alt-font sm-mb-15px">
                <span class="fs-19 text-dark-gray fw-600">3-BHK, 4-BHK Villas and Residential Plots </span>
            </div>
        </div>
    </div>
</section>


<section class="position-relative">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 md-mb-50px">
                <div class="row">
                    <div class="col-xl-6">
                        <span class="text-dark-gray fs-24 fw-600 text-center p-20px alt-font mb-25px d-block"
                            style="background-image: url(assets/images/bg-image.png);">Aashirwad</span>
                        <div
                            class="row g-0 align-items-center mb-15px pb-15px border-bottom border-color-extra-medium-gray">
                            <div class="col">
                                <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                                    <div class="feature-box-icon me-10px">
                                        <img src="assets/images/icons/22.png" class="w-25px" alt>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="text-dark-gray fs-16 fw-700">3-BHK, 4-BHK and Residential
                                            Plots</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="row g-0 align-items-center mb-15px pb-15px border-bottom border-color-extra-medium-gray">
                            <div class="col">

                                <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                                    <div class="feature-box-icon me-10px">
                                        <img src="assets/images/icons/23.png" class="w-25px" alt>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="text-dark-gray fs-16 fw-700">Area Spread across 6.5 acres</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="row g-0 align-items-center mb-15px pb-15px border-bottom border-color-extra-medium-gray">
                            <div class="col">

                                <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                                    <div class="feature-box-icon me-10px">
                                        <img src="assets/images/icons/24.png" class="w-25px" alt>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="text-dark-gray fs-16 fw-700">Area ranging from 656 sq ft. to 2400
                                            sq ft</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="row g-0 align-items-center mb-15px pb-15px border-bottom border-color-extra-medium-gray">
                            <div class="col">

                                <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                                    <div class="feature-box-icon me-10px">
                                        <img src="assets/images/icons/tick.png" class="w-25px" alt>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="text-dark-gray fs-16 fw-700">CMDA Approved</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="row g-0 align-items-center mb-15px pb-15px border-bottom border-color-extra-medium-gray">
                            <div class="col">

                                <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                                    <div class="feature-box-icon me-10px">
                                        <p class="w-25px">₹</p>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="text-dark-gray fs-18 fw-700">Price: 90-Lakh onwards</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <span class="text-dark-gray fs-24 fw-600 text-center p-20px alt-font mb-25px d-block"
                            style="background-image: url(assets/images/bg-image.png);">Vruksha</span>
                        <div
                            class="row g-0 align-items-center mb-15px pb-15px border-bottom border-color-extra-medium-gray">
                            <div class="col">
                                <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                                    <div class="feature-box-icon me-10px">
                                        <img src="assets/images/icons/22.png" class="w-25px" alt>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="text-dark-gray fs-16 fw-700">Ready to Move-in 2-BHK Villas</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="row g-0 align-items-center mb-15px pb-15px border-bottom border-color-extra-medium-gray">
                            <div class="col">

                                <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                                    <div class="feature-box-icon me-10px">
                                        <img src="assets/images/icons/23.png" class="w-25px" alt>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="text-dark-gray fs-16 fw-700">Spread across 1-acre</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="row g-0 align-items-center mb-15px pb-15px border-bottom border-color-extra-medium-gray">
                            <div class="col">

                                <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                                    <div class="feature-box-icon me-10px">
                                        <img src="assets/images/icons/24.png" class="w-25px" alt>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="text-dark-gray fs-16 fw-700">28 Villas Sold Out out of 42
                                            villas</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="row g-0 align-items-center mb-15px pb-15px border-bottom border-color-extra-medium-gray">
                            <div class="col">

                                <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                                    <div class="feature-box-icon me-10px">
                                        <img src="assets/images/icons/tick.png" class="w-25px" alt>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="text-dark-gray fs-16 fw-700">CMDA Approved</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="row g-0 align-items-center mb-15px pb-15px border-bottom border-color-extra-medium-gray">
                            <div class="col">

                                <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                                    <div class="feature-box-icon me-10px">
                                        <p class="w-25px">₹</p>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="text-dark-gray fs-18 fw-700">Price: 45-Lakh onwards</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row g-0">
                    <div class="col-12">
                        <span class="text-dark-gray fs-24 fw-600 text-center p-20px alt-font mb-25px d-block"
                            style="background-image: url(assets/images/bg-image.png);">Amenities : Aashirwad (Gated
                            Community)</span>
                    </div>
                    <div class="col p-35px lg-ps-15px lg-pe-15px border-radius-6px fs-16"
                        style="background-color: #242c21;">
                        <div class="row row-cols-2 row-cols-md-3 row-cols-sm-2">
                            <div class="col text-center border-end border-color-extra-medium-gray p-30px">
                                <img src="assets/images/icons/40.png" class="w-50px mb-15px" alt>
                                <span class="text-white d-block lh-20">Water / Sewage Treatment Plant </span>
                            </div>
                            <div
                                class="col text-center border-end sm-border-end-0 border-color-extra-medium-gray p-30px">
                                <img src="assets/images/icons/41.png" class="w-50px mb-15px" alt>
                                <span class="text-white d-block lh-20">Shopping Complex</span>
                            </div>
                            <div class="col text-center p-30px">
                                <img src="assets/images/icons/42.png" class="w-50px mb-15px" alt>
                                <span class="text-white d-block lh-20">Volley Ball, Cricket,
                                    Shuttle Cock Playground</span>
                            </div>
                            <div
                                class="col text-center border-end sm-border-end-0 border-color-extra-medium-gray p-30px">
                                <img src="assets/images/icons/43.png" class="w-50px mb-15px" alt>
                                <span class="text-white d-block lh-20">CC Paver
                                    Block Road with Trees</span>
                            </div>
                            <div
                                class="col text-center border-end sm-border-end-0 border-color-extra-medium-gray p-30px">
                                <img src="assets/images/icons/44.png" class="w-50px mb-15px" alt>
                                <span class="text-white d-block lh-20">24 Hour Centralised Water Supply</span>
                            </div>
                            <div class="col text-center p-30px">
                                <img src="assets/images/icons/45.png" class="w-50px mb-15px" alt>
                                <span class="text-white d-block lh-20">Round The Clock Security</span>
                            </div>
                            <div
                                class="col text-center border-end sm-border-end-0 border-color-extra-medium-gray p-30px">
                                <img src="assets/images/icons/46.png" class="w-50px mb-15px" alt>
                                <span class="text-white d-block lh-20">CCTV Coverage</span>
                            </div>
                            <div
                                class="col text-center border-end sm-border-end-0 border-color-extra-medium-gray p-30px">
                                <img src="assets/images/icons/47.png" class="w-50px mb-15px" alt>
                                <span class="text-white d-block lh-20">Temple & Clinic With Medical Shop</span>
                            </div>
                            <div class="col text-center p-30px  ">
                                <img src="assets/images/icons/48.png" class="w-50px mb-15px" alt>
                                <span class="text-white d-block lh-20">Street Lights, Walkers Garden</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-7">
                    <div class="col-12">
                        <span class="text-dark-gray fs-24 fw-600 text-center p-20px alt-font mb-25px d-block"
                            style="background-image: url(assets/images/bg-image.png);">Amenities : Vruksha</span>
                    </div>
                    <div class="col-12">
                        <div id="map" class="map small-screen border-radius-6px">
                            <video width="100%" controls>
                                <source src="assets/images/vruksha.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>

                <div class="row mt-7">
                    <div class="col-12">
                        <span class="text-dark-gray fs-24 fw-600 text-center p-20px alt-font mb-25px d-block"
                            style="background-image: url(assets/images/bg-image.png);">Master Plan</span>
                    </div>
                    <div class="col-12">
                        <div id="map" class="map small-screen border-radius-6px">
                            <img src="assets/images/master-plan.png" class="w-100" />
                        </div>
                    </div>
                </div>

                <div class="row mt-7">
                    <div class="col-12">
                        <span class="text-dark-gray fs-24 fw-600 text-center p-20px alt-font mb-25px d-block"
                            style="background-image: url(assets/images/bg-image.png);">Location</span>
                    </div>
                    <div class="col-12">
                        <div id="map" class="map small-screen border-radius-6px">
                            <img src="assets/images/location.jpg" class="w-100" />
                        </div>
                    </div>
                </div>


                <div class="row mt-7">
                    <div class="col-12">
                        <span class="text-dark-gray fs-24 fw-600 text-center p-20px alt-font mb-25px d-block"
                            style="background-image: url(assets/images/bg-image.png);">Salient Features</span>
                    </div>
                    <div class="container">
                        <div class="row row-cols-1 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 justify-content-center"
                            data-anime='{ "el": "childs", "rotateZ": [5, 0], "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
                            <div class="col rotate-box-style-02 mb-30px" *ngFor="let item of features">
                                <div class="w-100 min-h-300px text-center rotate-box to-left">
                                    <div
                                        class="w-100 h-100 overflow-hidden z-index-1 front-side bg-white border-radius-6px box-shadow-quadruple-large">
                                        <div class="rotate-content-front z-index-2 p-30px">
                                            <img class="mb-25px h-70px" src="assets/images/icons/{{item.icon}}" alt />
                                            <div class="fs-19 text-dark-gray alt-font fw-600 mb-5px"
                                                style="text-wrap: wrap;">{{item.backtext}}</div>
                                        </div>
                                    </div>

                                    <div class="w-100 h-100 overflow-hidden back-side cover-background border-radius-6px box-shadow-quadruple-large"
                                        style="background-image: url('assets/images/about.png');">
                                        <div class="opacity-light bg-charcoal-blue"></div>
                                        <div
                                            class="d-flex flex-column align-items-center justify-content-center h-100 z-index-2 rotate-content-back p-30px">
                                            <span class="text-white alt-font fw-500 fs-19 mb-5px"
                                                style="text-wrap: wrap;">{{item.backtext}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="border-radius-6px position-sticky top-120px">
                    <div class="bg-black ps-20px pe-20px pt-20px pb-20px xs-p-25px contact-form-style-01 mt-0">
                        <div class="mb-20px last-paragraph-no-margin">
                            <p class="mb-0 fw-500 text-white">Phone:
                                <a href="tel:+91 94455 32961" class="fs-16 text-dark-gray text-base-color-hover">+91
                                    94455
                                    32961 </a>
                            </p>
                            <p class="mb-0 fw-500 text-white">Email:
                                <a href="mailto:aashirwadh@anugrahahomes.co.in"
                                    class="fs-16 text-white text-base-color-hover">aashirwadh@anugrahahomes.co.in </a>
                            </p>
                            <p class="mb-0 fw-500 text-white">Email:
                                <a href="mailto:vruksha@anugrahahomes.co.in"
                                    class="fs-16 text-white text-base-color-hover">vruksha@anugrahahomes.co.in</a>
                            </p>
                        </div>
                        <h2
                            class="mb-30px text-capitalize text-center text-base-color fs-20 lh-40 fw-700 bg-solitude-blue w-100">
                            Location Highlights
                        </h2>
                        <span class="text-black fs-24 fw-700 ps-20px pe-20px pt-10px pb-10px"
                            style="background-image: url(assets/images/bg-image.png); width: 100%;">Schools</span><br>
                        <ul class="p-0 p-20px m-0 list-style-04 fs-18 text-white fw-500">
                            <li>MSJM Matriculation School - 2 min</li>
                            <li>Vivekananda Vidyalaya Agaramel - 3 min</li>
                            <li>Bharath Madeena Matriculation School - 6 min</li>
                            <li>Jaya Jaya Shankara International School - 7 min</li>
                            <li>Holy Crescent Matriculation Higher Secondary School - 7 min</li>
                            <li>St. Paul's Matriculation Higher Secondary School - 10 min</li>
                            <li>Spartan International School - 12 min</li>
                            <li>Hindu Primary School - 12 min</li>
                            <li>S.B. School - 12 min</li>
                            <li>CPS Global School - 12 min</li>
                            <li>Chennai Public School - 12 min</li>
                        </ul>
                        <span class="text-black fs-24 fw-700 ps-20px pe-20px pt-10px pb-10px"
                            style="background-image: url(assets/images/bg-image.png); width: 100%;">Colleges</span><br>
                        <ul class="p-0 p-20px m-0 list-style-04 fs-18 text-white fw-500">
                            <li>SKR Engineering College - 3 min</li>
                            <li>Sree Sastha Institute of Engineering Technology - 5 min</li>
                            <li>Panimalar Engineering College - 8 min</li>
                            <li>Alpha College of Engineering - 11 min</li>
                            <li>Prathyusha Engineering College - 14 min</li>
                            <li>Women's Christian College - 17 min</li>
                        </ul>
                        <span class="text-black fs-24 fw-700 ps-20px pe-20px pt-10px pb-10px"
                            style="background-image: url(assets/images/bg-image.png); width: 100%;">Hospitals</span><br>

                        <ul class="p-0 p-20px m-0 list-style-04 fs-18 text-white fw-500">
                            <li>Be Well Hospital - 10 min</li>
                            <li>Panimalar Medical College and Research Institute - 10 min</li>
                            <li>Mangalam Hospital - 12 min</li>
                            <li>ESI Hospital - 14 min</li>
                            <li>Ramachandra Hospital - 20 min</li>
                            <li>Apollo Speciality Hospital - 23 min</li>
                        </ul>
                        <span class="text-black fs-24 fw-700 ps-20px pe-20px pt-10px pb-10px"
                            style="background-image: url(assets/images/bg-image.png); width: 100%;">Entertainment</span><br>

                        <ul class="p-0 p-20px m-0 list-style-04 fs-18 text-white fw-500">
                            <li>Malini Food Corner Guinness Record - 1 min</li>
                            <li>Bad Boy Alps - 2 min</li>
                            <li>Velmani Chettinad Corner - 2 min</li>
                            <li>Jothi's Kitchen - 4 min</li>
                            <li>Subway - 5 min</li>
                            <li>KFC - 7 min</li>
                            <li>Sangeetha Veg Restaurant - 8 min</li>
                            <li>Fishermen's Fare - 8 min</li>
                            <li>Amaravathi Restaurant - 8 min</li>
                        </ul>
                        <span class="text-black fs-24 fw-700 ps-20px pe-20px pt-10px pb-10px"
                            style="background-image: url(assets/images/bg-image.png); width: 100%;">Transit</span><br>
                        <ul class="p-0 p-20px m-0 list-style-04 fs-18 text-white fw-500">
                            <li>Agaram Mel Bus Stop - 1 min</li>
                            <li>Post Office Junction Bus Stop - 2 min</li>
                            <li>Malayampakkam Bus Stop - 3 min</li>
                            <li>Outer Ring Road - 3 min</li>
                            <li>Poonamallee Jn - 3 min</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>