<section class="p-0 bg-dark-gray">
    <div class="swiper full-screen ipad-top-space-margin md-h-600px h-750px sm-h-500px swiper-number-pagination-style-01"
        data-slider-options="{ &quot;slidesPerView&quot;: 1, &quot;loop&quot;: true, &quot;pagination&quot;: { &quot;el&quot;: &quot;.swiper-number&quot;, &quot;clickable&quot;: true }, &quot;navigation&quot;: { &quot;nextEl&quot;: &quot;.slider-one-slide-next-1&quot;, &quot;prevEl&quot;: &quot;.slider-one-slide-prev-1&quot; }, &quot;autoplay&quot;: { &quot;delay&quot;: 5000, &quot;disableOnInteraction&quot;: false },  &quot;keyboard&quot;: { &quot;enabled&quot;: true, &quot;onlyInViewport&quot;: true }, &quot;effect&quot;: &quot;slide&quot; }"
        data-number-pagination="1">
        <div class="swiper-wrapper">
            <div class="swiper-slide cover-background" style="background-image:url('assets/images/banner/banner.png');">
                <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-md-12 position-relative text-white">
                            <div
                                class="fs-70 fw-700 lg-fs-75 xs-fs-60 mb-60px md-mb-45px xs-mb-35px w-100 xl-w-80 md-w-100 ls-minus-2px text-shadow-double-large">
                                <span
                                    data-fancy-text="{ &quot;opacity&quot;: [0, 1], &quot;delay&quot;: 500, &quot;speed&quot;: 50, &quot;string&quot;: [&quot;Invest in Your Future&quot;], &quot;easing&quot;: &quot;easeOutQuad&quot; }"></span><br>
                                <span class="fw-700"
                                    data-fancy-text="{ &quot;opacity&quot;: [0, 1], &quot;speed&quot;: 50, &quot;delay&quot;: 1200, &quot;string&quot;: [&quot;Invest in Our Homes!&quot;], &quot;easing&quot;: &quot;easeOutQuad&quot; }"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row g-0">
                <div class="col-12 position-relative">
                    <div class="swiper-pagination left-0 text-start swiper-pagination-clickable swiper-number"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- about section -->
<section class="big-section border-top border-color-extra-medium-gray pt-70px pb-70px"
    style="background-color: #f4f4f9;">
    <div class="container overlap-gap-section">
        <div class="row">
            <div class="col-lg-7 d-none d-sm-block position-relative">
                <div class="row align-items-center position-relative">
                    <div class="col-md-5 text-end sm-mb-30px" data-animation-delay="500">
                        <img class="sm-w-100" src="assets/images/about-1.png" alt />
                    </div>
                    <div class="col-lg-6 col-md-7 sm-mb-30px" data-animation-delay="200">
                        <img src="assets/images/about-3.png" alt class="sm-w-100" />
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 md-mt-13 sm-mt-10"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <span class="text-base-color fs-12 fw-600 ls-3px text-uppercase mb-10px d-block">About Anugraha
                    Homes</span>
                <h4 class="text-black fw-600 w-100">Anugraha - Builder of Homes and Dreams</h4>
                <p class="fs-20 w-100 md-w-100 text-dark-gray"> Extensive portfolio spanning more than one million
                    sq.ft, we
                    have delivered gated communities, villas, apartments and residential plots.
                    We take pride in developing homes and relationships seriously and are committed to building values
                    on solid foundation of quality and
                    integrity. What sets us apart is our attention to detail and custom quality finishes that exceeds
                    expectations. </p>
                <a href="about"
                    class="btn btn-dark-gray btn-large left-icon btn-box-shadow btn-switch-text btn-round-edge me-25px section-link">
                    <span>
                        <span><i class="feather icon-feather-arrow-right text-base-color icon-small"></i></span>
                        <span class="btn-double-text fw-400" data-text="Know More!">Know More!</span>
                    </span>
                </a>

            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-12 col-lg-10 text-center">
                <h2 class="fs-70 text-dark-gray fw-700 ls-minus-2px">On Going <span
                        class="text-base-color">Projects</span>
                </h2>
            </div>
        </div>

        <div class="row align-items-end pricing-table-style-05 g-0 mb-6 background-position-center background-no-repeat justify-content-center"
            style="background-image: url('assets/images/project-bg.png')">
            <div class="col-lg-6 col-md-6 md-mb-30px p-20px sm-p-5px"
                data-anime="{ &quot;translateX&quot;: [0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <div
                    class="bg-dark-gray border-radius-6px overflow-hidden position-relative box-shadow-double-large z-index-9">
                    <div
                        class="p-10px fw-700 fs-30 text-white bg-gradient-flamingo-amethyst-green text-uppercase text-center">
                        Anugraha Aashirwad</div>
                    <div
                        class="pricing-header pb-10px bg-white border-radius-6px text-center position-relative top-minus-3px">
                        <div class="pricing-body">
                            <ul class="p-0 m-0 list-style-02 fw-500 text-center text-md-start">
                                <li
                                    class="sm-p-5px sm-fs-15 pt-15px pb-15px ps-8 fs-20 pe-8 border-top border-color-extra-medium-gray text-dark-gray lg-ps-10 lg-pe-10">
                                    <span
                                        class="d-flex align-self-center justify-content-center bg-green h-20px w-20px border-radius-100 me-10px"><i
                                            class="bi bi-check align-self-center text-white fs-14 d-flex"></i></span>Location:
                                    Poonamallee, Chennai
                                </li>
                                <li
                                    class="sm-p-5px sm-fs-15 pt-15px pb-15px ps-8 fs-20 pe-8 border-top border-color-extra-medium-gray text-dark-gray lg-ps-10 lg-pe-10">
                                    <span
                                        class="d-flex align-self-center justify-content-center bg-green h-20px w-20px border-radius-100 me-10px"><i
                                            class="bi bi-check align-self-center text-white fs-14 d-flex"></i></span>3-BHK,
                                    4-BHK Villas and Residential Plots
                                </li>
                                <li
                                    class="sm-p-5px sm-fs-15 pt-15px pb-15px ps-8 fs-20 pe-8 border-top border-color-extra-medium-gray text-dark-gray lg-ps-10 lg-pe-10">
                                    <span
                                        class="d-flex align-self-center justify-content-center bg-green h-20px w-20px border-radius-100 me-10px"><i
                                            class="bi bi-check align-self-center text-white fs-14 d-flex"></i></span>Area
                                    Spread
                                    across 6.5 acres
                                </li>
                                <li
                                    class="sm-p-5px sm-fs-15 pt-15px pb-15px ps-8 fs-20 pe-8 border-top border-color-extra-medium-gray text-dark-gray lg-ps-10 lg-pe-10">
                                    <span
                                        class="d-flex align-self-center justify-content-center bg-green h-20px w-20px border-radius-100 me-10px"><i
                                            class="bi bi-check align-self-center text-white fs-14 d-flex"></i></span>Area
                                    ranging from 656 sq ft. to 2400 sq ft
                                </li>
                                <li
                                    class="sm-p-5px sm-fs-15 pt-15px pb-15px ps-8 fs-20 pe-8 border-top border-color-extra-medium-gray text-dark-gray lg-ps-10 lg-pe-10">
                                    <span
                                        class="d-flex align-self-center justify-content-center bg-green h-20px w-20px border-radius-100 me-10px"><i
                                            class="bi bi-check align-self-center text-white fs-14 d-flex"></i></span>CMDA
                                    Approved
                                </li>
                                <li
                                    class="sm-p-5px sm-fs-15 pt-15px pb-15px ps-8 fs-20 pe-8 border-top border-color-extra-medium-gray text-dark-gray lg-ps-10 lg-pe-10">
                                    <span
                                        class="d-flex align-self-center justify-content-center bg-green h-20px w-20px border-radius-100 me-10px"><i
                                            class="bi bi-check align-self-center text-white fs-14 d-flex"></i></span>Gated
                                    community with numerous amenities
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row align-items-center pt-25px pb-25px">
                        <div
                            class="col text-center last-paragraph-no-margin d-flex align-items-center justify-content-center">
                            <h3 class="text-white mb-0 me-15px fw-700 ls-minus-2px">₹ 90 Lakhs</h3>
                            <p class="w-120px fs-15 text-white text-start">Onwards*</p>
                        </div>
                    </div>
                    <div class="pricing-footer ps-12 pe-12 pb-8 text-center">
                        <a href="ongoing-project"
                            class="sm-p-10px btn btn-large btn-box-shadow bg-gradient-flamingo-amethyst-green text-white btn-round-edge w-100 text-transform-none mb-15px fw-700">
                            <span>
                                <span class="btn-text fs-22">For More Information </span>
                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 md-mb-30px p-20px sm-p-5px"
                data-anime="{ &quot;translateX&quot;: [0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <div
                    class="bg-dark-gray border-radius-6px overflow-hidden position-relative box-shadow-double-large z-index-9">
                    <div
                        class="p-10px fw-700 fs-30 text-white bg-gradient-flamingo-amethyst-green text-uppercase text-center">
                        Anugraha Vruksha</div>
                    <div
                        class="pricing-header pb-10px bg-white border-radius-6px text-center position-relative top-minus-3px">
                        <div class="pricing-body">
                            <ul class="p-0 m-0 list-style-02 fw-500 text-center text-md-start">
                                <li
                                    class="sm-p-5px sm-fs-15 pt-15px pb-15px ps-8 fs-20 pe-8 border-top border-color-extra-medium-gray text-dark-gray lg-ps-10 lg-pe-10">
                                    <span
                                        class="d-flex align-self-center justify-content-center bg-green h-20px w-20px border-radius-100 me-10px"><i
                                            class="bi bi-check align-self-center text-white fs-14 d-flex"></i></span>Location:
                                    Poonamallee, Chennai
                                </li>
                                <li
                                    class="sm-p-5px sm-fs-15 pt-15px pb-15px ps-8 fs-20 pe-8 border-top border-color-extra-medium-gray text-dark-gray lg-ps-10 lg-pe-10">
                                    <span
                                        class="d-flex align-self-center justify-content-center bg-green h-20px w-20px border-radius-100 me-10px"><i
                                            class="bi bi-check align-self-center text-white fs-14 d-flex"></i></span>Ready
                                    to Move-in 2-BHK
                                    Villas
                                </li>
                                <li
                                    class="sm-p-5px sm-fs-15 pt-15px pb-15px ps-8 fs-20 pe-8 border-top border-color-extra-medium-gray text-dark-gray lg-ps-10 lg-pe-10">
                                    <span
                                        class="d-flex align-self-center justify-content-center bg-green h-20px w-20px border-radius-100 me-10px"><i
                                            class="bi bi-check align-self-center text-white fs-14 d-flex"></i></span>Spread
                                    across 1-acre
                                </li>
                                <li
                                    class="sm-p-5px sm-fs-15 pt-15px pb-15px ps-8 fs-20 pe-8 border-top border-color-extra-medium-gray text-dark-gray lg-ps-10 lg-pe-10">
                                    <span
                                        class="d-flex align-self-center justify-content-center bg-green h-20px w-20px border-radius-100 me-10px"><i
                                            class="bi bi-check align-self-center text-white fs-14 d-flex"></i></span>28
                                    Villas Sold Out out of 42 villas
                                </li>
                                <li
                                    class="sm-p-5px sm-fs-15 pt-15px pb-15px ps-8 fs-20 pe-8 border-top border-color-extra-medium-gray text-dark-gray lg-ps-10 lg-pe-10">
                                    <span
                                        class="d-flex align-self-center justify-content-center bg-green h-20px w-20px border-radius-100 me-10px"><i
                                            class="bi bi-check align-self-center text-white fs-14 d-flex"></i></span>CMDA
                                    Approved
                                </li>
                                <li
                                    class="sm-p-5px sm-fs-15 pt-15px pb-15px ps-8 fs-20 pe-8 border-top border-color-extra-medium-gray text-dark-gray lg-ps-10 lg-pe-10">
                                    <span
                                        class="d-flex align-self-center justify-content-center bg-green h-20px w-20px border-radius-100 me-10px"><i
                                            class="bi bi-check align-self-center text-white fs-14 d-flex"></i></span>Gated
                                    community with numerous amenities
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row align-items-center pt-25px pb-25px">
                        <div
                            class="col text-center last-paragraph-no-margin d-flex align-items-center justify-content-center">
                            <h3 class="text-white mb-0 me-15px fw-700 ls-minus-2px">₹ 45 Lakhs</h3>
                            <p class="w-120px fs-15 text-white text-start">Onwards*</p>
                        </div>
                    </div>
                    <div class="pricing-footer ps-12 pe-12 pb-8 text-center">
                        <a href="ongoing-project"
                            class="sm-p-10px btn btn-large btn-box-shadow bg-gradient-flamingo-amethyst-green text-white btn-round-edge w-100 text-transform-none mb-15px fw-700">
                            <span>
                                <span class="btn-text fs-22">For More Information </span>
                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- why Poonamalle -->
<section class="big-section border-top border-color-extra-medium-gray pt-70px pb-70px">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-12 col-lg-10 text-center">
                <h2 class="fs-70 text-dark-gray fw-700 ls-minus-2px">Why <span
                        class="text-base-color">Poonamallee?</span>
                </h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-xl-3 row-cols-lg-2 row-cols-md-2 justify-content-center">
            <div class="col icon-with-text-style-08 lg-mb-50px sm-mb-40px ">
                <div class="feature-box bg-black h-100 p-20px box-shadow-double-large">
                    <div
                        class="mb-30px feature-box-icon feature-box-icon-rounded w-100px h-100px rounded-circle bg-jade">
                        <img src="assets/images/icons/37.png" />
                        <div class="feature-box-icon-hover rounded-circle"></div>
                    </div>
                    <div class="feature-box-content last-paragraph-no-margin">
                        <span class="d-inline-block fs-22 fw-600 text-base-color mb-5px">DEVELOPMENT-DRIVEN</span>
                        <p class="fs-18 pt-10px pb-10px text-white">Development abounds in Poonamallee with 5 million
                            sq. ft. of proposed Grade A
                            office space, a fully functional airport terminal in 2024 at Thiruvallur, a 25-acre
                            solar-powered bus stop, and the government's upcoming Satellite Township.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-08 lg-mb-50px sm-mb-40px">
                <div class="feature-box bg-black h-100 p-20px box-shadow-double-large">
                    <div
                        class="mb-30px feature-box-icon feature-box-icon-rounded w-100px h-100px rounded-circle bg-jade">
                        <img src="assets/images/icons/38.png" class="text-base-color" />
                        <div class="feature-box-icon-hover rounded-circle"></div>
                    </div>
                    <div class="feature-box-content last-paragraph-no-margin">
                        <span class="d-inline-block fs-22 fw-600 text-base-color mb-5px">APPRECIATING AREA</span>
                        <p class=" pt-10px pb-10px fs-18 text-white">With a cost advantage of 50%, Poonamallee stands
                            out as an affordable and
                            promising locale for real estate investments; guaranteed to appreciate with proposed
                            developments like Chennai Metro Rail, infrastructure upgrades, and more.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-08">
                <div class="feature-box bg-black h-100 p-20px box-shadow-double-large">
                    <div
                        class="mb-30px feature-box-icon feature-box-icon-rounded w-100px h-100px rounded-circle bg-jade">
                        <img src="assets/images/icons/39.png" class="text-base-color" />
                        <div class="feature-box-icon-hover rounded-circle"></div>
                    </div>
                    <div class="feature-box-content last-paragraph-no-margin">
                        <span class="d-inline-block fs-22 fw-600 text-base-color mb-5px">UNMATCHED CONNECTIVITY</span>
                        <p class="pt-10px pb-10px fs-18 text-white">Poonamallee is a hyper-connected locale, with easy
                            access to the city, the
                            industrial hubs of Ambattur and Avadi, the IT cluster at Manapakkam, and the Chennai
                            International Airport. Connectivity improves further with the proposed Metro Rail.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="big-section border-top border-color-extra-medium-gray pt-70px pb-70px"
    style="background-color: #3c2c06a6; background-image: url(https://ik.imagekit.io/habitro/bg/testimonials-bg.png?updatedAt=1707132693702); background-position: bottom right; background-repeat: no-repeat;">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-md-2 justify-content-center mb-5 sm-mb-35px mt-35px"
            data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 100, &quot;staggervalue&quot;: 200, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
            <div class="col md-mb-30px">
                <div style="border: 3px solid #c3a55c"
                    class="mb-10px box-shadow-quadruple-large box-shadow-quadruple-large-hover services-box-style-03 last-paragraph-no-margin border-radius-4px overflow-hidden">
                    <div class="position-relative">
                        <img src="assets/images/why/1.jpg" alt>
                    </div>
                    <div class="bg-white">
                        <div
                            class="ps-50px pe-50px pt-20px pb-30px xl-ps-20px xl-pe-20px text-center progress-bar-style-01">
                            <p
                                class="d-inline-block fs-20 fw-600 text-dark-gray text-dark-gray-hover mb-5px ls-minus-05px">
                                Tamil
                                Nadu: Three IT parks to come up at
                                Mannivakkam, Malayambakkam and
                                Vandalur along Outer Ring Road.</p>
                            <!-- <p>CHENNAI: In a major boost to the software industry in Tamil Nadu, the state
                                government is planning to develop IT parks on three sites of the 50-metre strip
                                of land along the eastern side of the Outer Ring Road (ORR) in Chennai.
                            </p>
                            <p>Sources said the Chennai Metropolitan Development Authority (CMDA) has
                                issued enter upon permission for three sites request of Tidel Park Limited.
                                Malayambakkam, Mannivakkam and Vandalur following the request of Tidel
                                Park Limited</p>
                            <p>The sites were allotted after conducting a land valuation for the entire ORR
                                stretch. While 5.33 acres on the Malayambakkam stretch, valued at Rs 3 crore
                                per acre, has been allocated for the rst IT park, the second one will come up
                                on 5.04-acre area of Mannivakkam where the land value has been xed at Rs 5
                                crore per acre. The third IT park is planned at 0.5 acre-area in Vandalur where
                                the land value is Rs 8.05 crore per acre.</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col md-mb-30px">
                <div style="border: 3px solid #c3a55c"
                    class="mb-10px box-shadow-quadruple-large box-shadow-quadruple-large-hover services-box-style-03 last-paragraph-no-margin border-radius-4px overflow-hidden">
                    <div class="position-relative">
                        <img src="assets/images/why/2.jpg" alt>
                    </div>
                    <div class="bg-white">
                        <div
                            class="ps-50px pe-50px pt-20px pb-30px xl-ps-20px xl-pe-20px text-center progress-bar-style-01">
                            <p
                                class="d-inline-block fs-20 fw-600 text-dark-gray text-dark-gray-hover mb-5px ls-minus-05px">
                                Kodambakkam to Poonamalee Chennai Metro
                                stretch to be operational by June 2024</p>
                            <!-- <p>As Chennai Metro Rail has started work on the second phase, Finance Minister
                                Palanivel Thiagarajan said that the stretch Kodambakkam to Poonamallee
                                stretch (under Corridor-4) will be put into operation by June 2024.
                            </p>
                            <p>Metro Rail Project Phase II will span 118.9 km from the northern end to the
                                southern end of the city with three corridors — Madhavaram to SIPCOT,
                                Madhavaram to Sholinganallur and Light House to Poonamallee.
                                The Corridor-4 stretch was from CMBT to the Light House. But it has been
                                extended till Poonamallee considering the increasing trafc congestion on Arcot
                                Road along Virugambakkam and Valasaravakkam.
                            </p>
                            <p>It will go via Vadapalani, up to Poonamallee via Porur. The stretch will have 12
                                underground stations from Light House to Meenakshi College which is funded
                                by Asian Development Bank (ADB) and 18 elevated stations from Meenakshi
                                College to Poonamallee. It is funded by Asian Infrastructure Investment Bank.
                                Recently, Chennai Metro Rail has extended Corridor 4 from Poonamallee
                                Bypass to Thirumazhisai Satellite Township. Poonamallee is also expected to
                                be one of the ve depots of Chennai Metro. </p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col md-mb-30px">
                <div style="border: 3px solid #c3a55c"
                    class="mb-10px box-shadow-quadruple-large box-shadow-quadruple-large-hover services-box-style-03 last-paragraph-no-margin border-radius-4px overflow-hidden">
                    <div class="position-relative">
                        <img src="assets/images/why/3.jpg" alt>
                    </div>
                    <div class="bg-white">
                        <div
                            class="ps-50px pe-50px pt-20px pb-30px xl-ps-20px xl-pe-20px text-center progress-bar-style-01">
                            <p
                                class="d-inline-block fs-20 fw-600 text-dark-gray text-dark-gray-hover mb-5px ls-minus-05px">
                                Work on Chennai's Second Airport in
                                Parandur to be Connected to Bengaluru E-way</p>
                            <!-- <p>Chennai: Chennai's second airport in Parandur will be constructed in four
                                pgases with work on rst phase expected to begin in January 2026. The other
                                phases will be taken up subsequently. The entire project is expected to be
                                ready by end of 2046. This new airport with three terminals will have a capacity
                                to handle 100 million passengers.
                            </p>
                            <p>Spread over nearly 5,369 acres, a second airport at Parandur has been
                                proposed to take the load off of the existing airport at Meenambakkam.
                                Second Airport For Chennai Completion Date As per the information available it will take
                                20 years to build all the four phases
                                of the new airport. The construction of the rst phase will begin in January 2026
                                and is expected to be wrapped up by December 2028. Meanwhile, the nal
                                phase is expected to be ready by December 2046.
                                Connectivity with Road, Metro.</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col md-mb-30px">
                <div style="border: 3px solid #c3a55c"
                    class="mb-10px box-shadow-quadruple-large box-shadow-quadruple-large-hover services-box-style-03 last-paragraph-no-margin border-radius-4px overflow-hidden">
                    <div class="position-relative">
                        <img src="assets/images/why/4.jpg" alt>
                    </div>
                    <div class="bg-white">
                        <div
                            class="ps-50px pe-50px pt-20px pb-30px xl-ps-20px xl-pe-20px text-center progress-bar-style-01">
                            <p
                                class="d-inline-block fs-20 fw-600 text-dark-gray text-dark-gray-hover mb-5px ls-minus-05px">
                                TN Govt. to speed up Thirumazhisai satellite
                                township project</p>
                            <!-- <p>The Tamil Nadu government will take steps to speed up its project to develop a
                                satellite township at Thirumazhisai, Minister for Housing and Urban
                                Development S. Muthusamy said in the State Legislative Assembly on
                                Wednesday.
                            </p>
                            <p>The Minister's comments came as a response to DMK legislator V.G.
                                Raajendran (Tiruvallur), who suggested that the State government should
                                develop satellite townships instead of expanding the Chennai Metropolitan Area
                                (CMA) to new areas without developing civic infrastructure facilities there.
                            </p>
                            <p>However, Mr. Muthusamy said it would not be possible to not include more
                                areas within the CMA waiting for infrastructure to be developed in the newlyincluded
                                areas.
                            </p>
                            <p>Mr. Raajendran also urged the government to ensure the efcient functioning of
                                Chennai Metropolitan Development Authority (CMDA) so as to ensure the
                                quality of constructions by builders.
                            </p>
                            <p>As for constructions within the CMDA jurisdiction, the State government must
                                ensure the quality of construction of residential units by builders by seeking
                                reports of soil test, water tests and structural designs at regular intervals so that
                                mishaps do not occur, he said. “Stage-wise structural report should be received
                                from them once in three months,” he urged the State government. Recalling a
                                time from 2011 when he said he obtained approvals within 10 days for a
                                project, the DMK MLA charged that the efciency has gone down during the
                                past 10 years </p>
                            <p>During his speech in the House, S. Ambethkumar (Vandavasi) also said the
                                efcient functioning of the CMDA would help approvals for construction projects
                                to be obtained at the earliest.</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Project Details -->
<section class="big-section border-top border-color-extra-medium-gray pt-70px pb-70px bg-very-light-gray">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-7 sm-mb-30px"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateX&quot;: [-50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <span class="d-block text-uppercase mb-10px text-base-color fw-500">Anugraha</span>
                <h2 class="fw-500 alt-font text-dark-gray text-uppercase ls-minus-2px">Aashirwad</h2>
                <p class="text-dark-gray fs-18"> Introducing Aashirwad, the latest real estate project by Anugraha Homes
                    Pvt
                    Ltd in the bustling city of Chennai. This gated community in
                    Poonamallee offers the perfect blend of convenience, connectivity, and affordability. Situated in
                    Poonamallee, one of Chennais most
                    appreciating areas, Anugraha Aashirwad stands out as an irresistible investment opportunity. Spread
                    across 6.5 acres, this gated
                    community offers 300+ Villas/Plots with an impressive list of amenities.</p>
                <p class="text-dark-gray fs-18"> With a cost advantage of 50%, Poonamallee offers affordable real estate
                    options that are guaranteed to appreciate with the upcoming
                    developments in the area. The proposed Chennai Metro Rail, infrastructure upgrades, IT Park and the
                    governments upcoming Satellite
                    Township add further value to the location. With easy access to the city, the industrial hubs of
                    Ambattur and Avadi, the IT cluster at
                    Manapakkam, and the Chennai International Airport, Poonamallee ensures that you are always
                    well-connected. </p>
            </div>
            <div class="col-lg-5 col-md-5"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateX&quot;: [100, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <div class="">
                    <img src="assets/images/project.png" alt>
                </div>
            </div>
        </div>
    </div>
</section>