<app-banner [bannerheading]="bannerheading" [bannerpara]="bannerpara" [bannerimage]="bannerimage" [displayForm]="displayForm"></app-banner>
<section
    id="projects-1"
    class="pt-50 pb-50 projects-section">
    <div class="container">
        <div class="projects-wrapper">
            <div class="row align-items-center row-cols-1 row-cols-md-2">
                <!-- PROJECT #1 -->
                <div class="col-lg-6 col-md-6" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500" *ngFor="let item of renovation">
                    <div class="project-details">
                        <div class="project-preview">
                            <!-- Project Preview -->
                            <img-comparison-slider>
                                <img slot="first" src="{{item.first}}" class="first" />
                                <img slot="second" src="{{item.second}}" class="second" />
                            </img-comparison-slider>
                        </div>
                    </div>
                </div>
                <!-- END PROJECT #1 -->
            </div>
        </div>
    </div>
</section>
<section id="integrations-1" class="integrations-section pt-50 pb-50" style="background-color: #ba9fd6;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9">
                <div class="inner-page-title">
                    <h2 class="s-38 w-600 py-20">We Renovate With Care</h2>
                    <div class="bottom-line"></div>
                </div>
            </div>
        </div>
        <div class="integrations-1-wrapper">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 rows-2">
                <!-- TOOL #1 -->
                <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
                    <div class="in_tool it-1 r-12 mb-30" style="background-color: #fff;">
                        <!-- Icon -->
                        <div class="in_tool-logo-wrap">
                            <div class="in_tool-logo ico-60">
                                <img class="img-fluid" src="assets/images/icons/25.png" alt="brand-logo" />
                            </div>
                        </div>

                        <!-- Text -->
                        <div class="in_tool-txt">
                            <h6 class="s-20 w-700">Mindful Makeovers
                            </h6>
                            <p class="p-sm">We renovate while preserving your existing structures, ensuring all necessary safety measures.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2000">
                    <div class="in_tool it-1 r-12 mb-30" style="background-color: #fff;">
                        <!-- Icon -->
                        <div class="in_tool-logo-wrap">
                            <div class="in_tool-logo ico-60">
                                <img class="img-fluid" src="assets/images/icons/26.png" alt="brand-logo" />
                            </div>
                        </div>

                        <!-- Text -->
                        <div class="in_tool-txt">
                            <h6 class="s-20 w-700">Silent and Squeaky Clean 
                            </h6>
                            <p class="p-sm">We renovate clean & quiet, without any jarring sounds, and prioritise hygiene for a spotless renovation experience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2500">
                    <div class="in_tool it-1 r-12 mb-30" style="background-color: #fff;">
                        <!-- Icon -->
                        <div class="in_tool-logo-wrap">
                            <div class="in_tool-logo ico-60">
                                <img class="img-fluid" src="assets/images/icons/27.png" alt="brand-logo" />
                            </div>
                        </div>

                        <!-- Text -->
                        <div class="in_tool-txt">
                            <h6 class="s-20 w-700">Frugal and Fabulous </h6>
                            <p class="p-sm">We offer wallet-friendly renovations, paving the way for savings to further beautify your space.</p>
                        </div>
                    </div>
                </div>
                <!-- END FEATURE BOX #1 -->
            </div>
        </div>
    </div>
</section>
<app-calltoaction [copyhead]="copyhead"></app-calltoaction>
