*, *:before, *:after {
    box-sizing: inherit;
  }
  .cd__main{
     background: linear-gradient(to right, #3f2b96, #a8c0ff) !important;
  }
  .text-center {
    text-align: center;
  }
  
  .color-white {
    color: #fff;
  }
  
  
@media (min-width: 390px) and (max-width: 413.98px) {
  .ct-01 .img-block, .ct-02 .img-block, .ct-03 .img-block.right-column, .ct-03 .img-block.left-column {
    margin: 0px;
  }
}

.hover--tra-shades:hover {
  color: white !important;
  background-color: transparent!important;
  border-color: white!important;
}
