<section id="calculator"
    style="background-image: url(assets/images/01-01.png); background-position: top center; background-size: cover; background-repeat: no-repeat;"
    class="gr--whitesmoke pt-50 pb-50 faqs-section division">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-6">
                <div class="section-title text-center mb-30">
                    <h2 class="s-38 w-600 py-20">Pricing Calculator</h2>
                    <div class="bottom-line"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="form-holder">
                    <form name="contactform" class="row contact-form">
                        <div class="col-md-12">
                            <p class="p-lg">Select Your BHK Type</p>
                            <div class="owm-form">
                                <input type="radio" name="name"
                                    class="form-radio invisible-radio"
                                    id="1bhk" class="name" value="name" />
                                <label for="1bhk" class="radio-button">1
                                    BHK</label><br>
                                <input type="radio" name="name"
                                    class="form-radio invisible-radio"
                                    id="2bhk" class="name" value="name" />
                                <label for="2bhk" class="radio-button">2
                                    BHK</label><br>
                                <input type="radio" name="name"
                                    class="form-radio invisible-radio"
                                    id="3bhk" class="name" value="name" />
                                <label for="3bhk" class="radio-button">3
                                    BHk</label><br>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <p class="p-lg">Select the rooms you’d like us to
                                design</p>
                            <div class="owm-form">
                                <div class="checkboxes__row">
                                    <div class="checkboxes__item">
                                        <label class="checkbox style-h">
                                            <input type="checkbox" />
                                            <div
                                                class="checkbox__checkmark"></div>
                                            <div
                                                class="checkbox__body">Living</div>
                                        </label>
                                    </div>
                                </div>
                                <div class="checkboxes__row">
                                    <div class="checkboxes__item">
                                        <label class="checkbox style-h">
                                            <input type="checkbox" />
                                            <div
                                                class="checkbox__checkmark"></div>
                                            <div
                                                class="checkbox__body">Kitchen</div>
                                        </label>
                                    </div>
                                </div>
                                <div class="checkboxes__row">
                                    <div class="checkboxes__item">
                                        <label class="checkbox style-h">
                                            <input type="checkbox" />
                                            <div
                                                class="checkbox__checkmark"></div>
                                            <div
                                                class="checkbox__body">Bedroom</div>
                                        </label>
                                    </div>
                                </div>
                                <div class="checkboxes__row">
                                    <div class="checkboxes__item">
                                        <label class="checkbox style-h">
                                            <input type="checkbox" />
                                            <div
                                                class="checkbox__checkmark"></div>
                                            <div
                                                class="checkbox__body">Bathroom</div>
                                        </label>
                                    </div>
                                </div>
                                <div class="checkboxes__row">
                                    <div class="checkboxes__item">
                                        <label class="checkbox style-h">
                                            <input type="checkbox" />
                                            <div
                                                class="checkbox__checkmark"></div>
                                            <div
                                                class="checkbox__body">Dining</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 input-subject">
                            <p class="p-lg">Preferred Design Style</p>
                            <select class="form-select subject"
                                aria-label="Default select example">
                                <option selected>Modern</option>
                                <option>Traditional</option>
                                <option>Minimalist</option>
                                <option>Industrial</option>
                                <option>Scandinavian</option>
                                <option>Eclectic</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <p class="p-lg">Pick your package</p>
                            <div class="owm-form">
                                <input type="radio" name="name"
                                    class="form-radio invisible-radio"
                                    id="basic" class="name" value="name" />
                                <label for="basic"
                                    class="radio-button">Basic</label><br>
                                <input type="radio" name="name"
                                    class="form-radio invisible-radio"
                                    id="premium" class="name" value="name" />
                                <label for="premium"
                                    class="radio-button">Premium</label><br>
                                <input type="radio" name="name"
                                    class="form-radio invisible-radio"
                                    id="luxury" class="name" value="name" />
                                <label for="luxury"
                                    class="radio-button">Luxury</label><br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6" style="margin: auto;">
                <div class="row">
                    <div class="col text-center">
                        <div class="more-questions mt-40">
                            <p class="contact-form p-lg">To know about our exclusive estimate options,<br>click the button below!</p>
                            <div class="more-questions-txt r-100"
                                style="background-color: red;">
                                <div id="price" class="price">
                                    <sup class="text-white"
                                        style="font-size: 18px; top: 0px;">₹</sup>
                                    <span class="text-white"
                                        style="font-size: 28px; letter-spacing: 8px;">&nbsp;&nbsp;99xxx.xx</span>
                                </div>
                            </div>
                        </div>
                        <a href="#"
                            class="mt-30 btn r-04 btn--theme hover--tra-white"
                            data-bs-toggle="modal" data-bs-target="#modal-3">Get
                            Full Estimate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="modal-3" class="modal auto-off fade" tabindex="-1" role="dialog"
    aria-labelledby="modal-3">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close ico-10 white-color"
                data-bs-dismiss="modal" aria-label="Close">
                <span class="flaticon-cancel"></span>
            </button>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div
                            class="col-md-5 bg-img d-none d-sm-flex align-items-end" style="background-image: url(https://ik.imagekit.io/habitro/gallery/inspirational/popup.jpg?updatedAt=1709897333444);background-size: cover;"></div>
                        <div class="col-md-7">
                            <div class="modal-body-content">
                                <div class="mb-30 request-form-title">
                                    <h3 class="s-28 w-700">Get Free
                                        Estimate!</h3>
                                </div>
                                <form class="row sign-in-form"
                                    style="padding: 10px;" method="post"
                                    [formGroup]="leadForm"
                                    (ngSubmit)="onSubmit()">

                                    <!-- Form Input for Name -->
                                    <div class="col-md-12"
                                        style="margin-bottom: 10px;">
                                        <p class="p-sm input-header"
                                            style="margin-bottom: 5px;">Name</p>
                                        <input class="form-control email"
                                            id="name" type="text"
                                            formControlName="name"
                                            placeholder=""
                                            required />
                                        <div class="error-message"
                                            *ngIf="leadForm?.get('name')?.hasError('required') && leadForm?.get('name')?.touched">
                                            Name is required.
                                        </div>
                                    </div>

                                    <!-- Form Input for Phone No -->
                                    <div class="col-md-12"
                                        style="margin-bottom: 10px;">
                                        <p class="p-sm input-header"
                                            style="margin-bottom: 5px;">Phone
                                            No</p>
                                        <input class="form-control email"
                                            id="phone" type="text"
                                            formControlName="phone"
                                            placeholder=""
                                            required />
                                        <div class="error-message"
                                            *ngIf="leadForm?.get('phone')?.hasError('required') && leadForm?.get('phone')?.touched">
                                            Phone No is required.
                                        </div>
                                        <div class="error-message"
                                            *ngIf="leadForm?.get('phone')?.hasError('pattern')">
                                            Invalid phone number. Please enter a
                                            10-digit number with the
                                            country code +91.
                                        </div>
                                    </div>
                                    <!-- Form Input for Email -->
                                    <div class="col-md-12"
                                        style="margin-bottom: 10px;">
                                        <p class="p-sm input-header"
                                            style="margin-bottom: 5px;">Email
                                            address</p>
                                        <input class="form-control email"
                                            id="email" type="email"
                                            formControlName="email"
                                            placeholder=""
                                            required />
                                        <div class="error-message"
                                            *ngIf="leadForm?.get('email')?.hasError('required') && leadForm?.get('email')?.touched">
                                            Email address is required.
                                        </div>
                                        <div
                                            *ngIf="leadForm?.get('email')?.hasError('email') && leadForm?.get('email')?.touched">
                                            Invalid email format.
                                        </div>
                                    </div>
                                    <div class="col-md-12"
                                        style="display: none;">
                                        <p class="p-lg">Explain your question in
                                            details:</p>
                                        <textarea formControlName="message"
                                            class="form-control message"
                                            name="message" rows="4"
                                            placeholder="Explain in details..."></textarea>
                                        <div class="error-message"
                                            *ngIf="leadForm?.get('message')?.hasError('required') && leadForm?.get('message')?.touched">
                                            Message is required.
                                        </div>
                                    </div>
                                    <!-- Form Submit Button -->
                                    <div class="col-md-12 form-btn"
                                        style="margin-bottom: 10px;">
                                        <button type="submit" name="submit"
                                            class="btn r-04 btn--theme submit"
                                            [disabled]="leadForm.invalid">
                                            Get Free Estimate
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
